.center.jumbotron
  %h1 Welcome to Sample App
  %h2 This is the home page for Tryout sample application
  = link_to 'Start blog now!',blogs_path,class: "btn btn-lg btn-primary"
  -#= link_to 'Sign up now!','#',class: "btn btn-lg btn-primary"
  -#= link_to 'Login now!','#',class: "btn btn-lg btn-primary"
  -#= link_to 'Login with Google now!','#',class: "btn btn-lg btn-primary"