<h1>新しいコメントが登録されました。</h1>

<p>承認または削除してください。</p>

<p><%= "Blog:#{@comment.entry.blog.title}" %></p>
<p><%= "Entry:#{@comment.entry.title}" %></p>
<p><%= "Comment:#{@comment.body}" %></p>

<%= link_to "コメントページに移動", entry_url(@comment.entry) %>
