%footer.footer
  %small Tryout 2018.10.18 start
  %nav
    %ul
      %ui
        = link_to "About",about_path
      %ui
        = link_to "Contact",'https://www.facebook.com/poipoipoi33378'
      %ui
        = link_to "News",'http://legacycode.hatenablog.com/'
